<h1>Employee <small>Name of employee</small></h1>

<hr />
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/employees">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>
</div>

<div class="row animated fadeIn slower">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">
      <div class="form-group">
        <label>Firebase ID</label>
        <input
          type="text"
          class="form-control"
          placeholder="Firebase ID"
          [(ngModel)]="employee.id"
          name="id"
          disabled="disabled"
        />
        <small class="for-text text muted"> This field is self generated</small>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name of employee"
          [(ngModel)]="employee.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label>Birthdate</label>
        <input
          type="text"
          class="form-control"
          placeholder="Birthdate"
          [(ngModel)]="employee.birthdate"
          name="birthdate"
          required
        />
      </div>

      <hr />
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"> Guardar</i>
        </button>
      </div>
    </form>
  </div>
</div>
