<h1>List of employees</h1>

<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/employee/nuevo" class="btn btn-dark">
      <i class="fa fa-plus"></i> Add
    </button>
  </div>
</div>

<table
  *ngIf="!loading && employees.length > 0"
  class="table mt-3 animated fadeIn faster animated fadeIn faster"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <th scope="row" class="employee-index--text">{{ i + 1 }}</th>
      <td class="employee-name--text">{{ employee.name }}</td>
      <td class="employee-bithdate--text">{{ employee.birthdate }}</td>
      <td>
        <button
          class="btn btn-light mr-1"
          [routerLink]="['/employee', employee.id]"
        >
          <i class="fa fa-pen"></i>
        </button>

        <button class="btn btn-light" (click)="deleteEmployee(employee, i)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="!loading && employees.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">No records</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div
  *ngIf="loading"
  class="alert alert-info text-center mt-3 animated fadeIn faster"
>
  <h4 class="alert-heading">Loading</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Wait, please</p>
</div>
