body {
  background: #3a1c71;
  background: -webkit-linear-gradient(to left, #ffaf7b, #d76d77, #3a1c71);
  background: linear-gradient(to left, #ffaf7b, #d76d77, #3a1c71);
  height: 100vh;
}

h1,
label,
.employee-index--text,
.employee-bithdate--text,
.employee-name--text {
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .employee-index--text,
  .employee-bithdate--text,
  .employee-name--text {
    font-size: 18px;
  }
}

@media all and (min-width: 1200px) {
}
